::view-transition-group(*) {
    animation-duration: 400ms;
    animation-timing-function: linear;
}

/*::view-transition-old(.body),
::view-transition-new(.body) {
    height: 100%;
    object-fit: none;
    overflow: clip;
    object-position: left;
}*/

::view-transition-old(*),
::view-transition-new(*) {
    object-fit: cover;
    object-position: top left;
}
