#main {
    view-transition-name: main;
}

#side {
    view-transition-name: side;
}

::view-transition-group(main),
::view-transition-group(side) {
    animation-duration: 400ms;
}

::view-transition-old(side),
::view-transition-new(side),
::view-transition-old(main),
::view-transition-new(main) {
    height: 100%;
    object-fit: none;
    overflow: clip;
    object-position: left;
}
