::view-transition-group(main),
::view-transition-group(side),
::view-transition-group(header) {
    animation-duration: 400ms;
}

::view-transition-old(side),
::view-transition-new(side),
::view-transition-old(main),
::view-transition-new(main) {
    height: 100%;
    object-fit: none;
    overflow: clip;
    object-position: left;
}

::view-transition-old(header),
::view-transition-new(header) {
    object-fit: cover;
    object-position: top left;
}
