#main {
    view-transition-name: main;
}

#side {
    view-transition-name: side;
}

::view-transition-group(main) {
    animation-duration: 800ms;
}

::view-transition-group(side) {
    animation-duration: 800ms;
}

::view-transition-old(side) {
    animation: none;
    display: none;
}

::view-transition-old(main) {
    animation: none;
    display: none;
}

::view-transition-new(side) {
    animation: none;
}

::view-transition-new(main) {
    animation: none;
}
