@import "tailwindcss";

.fresh-gradient {
    background-color: rgb(134, 239, 172);
    background-image: linear-gradient(
        to right bottom,
        rgb(219, 234, 254),
        rgb(187, 247, 208),
        rgb(254, 249, 195)
    );
}

a {
    transition: 300ms ease-in;
    transition-property: color, background-color, border-color;

    &[aria-current="page"] {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

    &:focus {
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }

    &:active {
        color: #fff;
        background-color: #005cbf;
        border-color: #0051b8;
    }
}
